.postListItem {
  font-size: 1.25rem;
}

.animatedLabel, .label{
  line-height: 35px;
  user-select: none;
  transition: 0.5s all;
  word-break: break-all;
}

.postListItem {
  margin-bottom: 20px;
}

